<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157055486823-trcogmq8stm1kkejk3elp7n4a3dqi4r7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157055486823-trcogmq8stm1kkejk3elp7n4a3dqi4r7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>157055486823-633nflgoo2disr7l3mcp1mut71ij5a0a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA3FWDtQDYKHPiuWSJ-yTMNvz6WqUXSpJU</string>
	<key>GCM_SENDER_ID</key>
	<string>157055486823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Seoudi</string>
	<key>PROJECT_ID</key>
	<string>seoudi-app</string>
	<key>STORAGE_BUCKET</key>
	<string>seoudi-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157055486823:ios:3b4e3c555090b7d2fa3dc2</string>
</dict>
</plist>